# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Build folder
dist/
dist-docs/

# Reporters
reports/

# IDE files
.idea
*.iml
out
gen
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
